@import url(reset.css);
/*Este se hace para importar el reset, es mejor hacerlo desde aqui*/

/*hadlee y montserrat se cargan de google fonts como import*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/*Esto importa las fuentes de google*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
/*Aqui se importan los iconos de awesome*/

* {
    /*Aqui hacemos un reset para toda la we*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*Esto es para safari*/
    -moz-box-sizing: border-box;
    /*Este es para mozilla*/
    -o-box-sizing: border-box;
    /*Esto pra opera*/
    -ms-box-sizing: border-box;
    /*Esto para microsoft*/
}

:root {
    /*root se usa para declarar unas variables generales que se van a reutilizar, por ejemplo las fuentes principal y secindaria y los colores principal y secundario. Se declaran poniendo doble guion y un nombre de variable*/
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
}

body {
    font-family: var(--fuentePrincipal);
    /*Aqui estamos usando la variable fuente principal*/
    font-size: 1em;
    /*Tamaño de fuente para todo el body*/
    background-color: var(--color-secundario);
}

img {
    /*Delaramos las estilos generales de las imagenes*/
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchoMaximo);
    margin: 0 auto;
    /*Esto centra el contenedor*/
    color: white;
}

.flex {
    display: flex;
}

/* Inicio HEADER */

header .nav_top {
    background-color: white;
    padding: 20px 10px;
}

header .nav_top a {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 120%;
}

header .nav_top a span {
    display: none;
    /*Con esto puedo aplicar a la etiqueta span una ocultacion cuando me interesa*/
}

header .nav_top .flex {
    justify-content: space-between;
    /*Esta regal me reparte el espacio entre los iconos*/
}

header .nav_top i {
    color: var(--color-principal);
}

header nav {
    padding: 20px;
}

header .logo {
    max-width: 110px;
    filter: invert(85%);
}

header .hamburguesa {
    /*Esto se separa en dos .hamburguesa y .hamburguesa div,  para que salga como un boton, y no solo al pasar por cada una de las lineas*/
    width: 50px;
    cursor: pointer;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin: 10px;
}

header nav .flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    width: 100%;
}

header nav ul li a {
    display: block;
    /*Con esto consigo que toda la zona sea clicable*/
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    transition: 0.5s;
}

header nav ul li .activo {
    color: var(--color-principal);
}

header nav ul li a:hover {
    color: var(--color-principal);
}

/* Fin HEADER */

/* Inicio FOOTER */

footer {
    background-color: white;
    padding: 1.250em 0.625em;
    text-align: center;
}

footer p, footer a {
    /*Estoy aplicando una regla a dos elementos*/
    color: var(--color-secundario);
}

footer a:hover {
    /*Dentro del footer hay un a que cuando haga hover su text decoration sea none*/
    text-decoration: none;
}

/* Fin FOOTER */

@media(min-width:48.000em) {
    header .nav_top a span {
        display: inline;
    }
    footer {
        text-align: left;
    }
}

@media(min-width:62.750em) {
    header .hamburguesa {
        /*visibility: hidden; oculta pero ocupa espacio*/
        display: none;
        /*display: none; oculta y no ocupa espacio*/
    }
    header nav ul {
        width: auto;
        display: flex;
    }
    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/*  Inicio MAIN */

main {
    margin-bottom: 70px;
}

main section {
    padding: 2.125em 0;
}

main section h2 {
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--color-principal);
}

main section .underline {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr {
    border-color: var(--color-principal);
    position: absolute;
    /*con esto posicionamos la x encima de la linea*/
    width: 100%;
    /*para que el ancho de la linea sean los 5em que hemos puesto*/
    top: -0.063em/*para mover un poco la linea y que quede justo donde queremos*/
}

/*inicio menu*/

main section .container .menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    width: 90%;
    padding: 0.7em 1em;
    margin: 0 1.5em;
}

main section .menu .activo {
    background-color: var(--color-principal);
    border-radius: 0.2em;
    font-weight: bold;
}

main #menutoday .container .flex .underline {
    /*ME he quedao aqui<===*/
    margin-left: 0;
    margin-bottom: 3em;
    width: 3em;
    color: var(--color-principal);
}

main #menutoday .flex {
    flex-wrap: wrap;
    /*esto nos permite decir que ancho tiene cada elemento y que se posicionen 1, 2 o 3 en linea*/
}

main #menutoday .flex .cabeceraarticulo {
    width: 100%;
    padding: 1.5em;
}

main #menutoday .flex article {
    width: 90%;
    padding: 1.5em 3em;
}

main #menutoday .flex h3 {
    font-weight: 700;
    margin: 1em 0;
}

main #menutoday .precio {
    color: var(--color-principal);
    text-align: right;
    font-weight: 700;
}

/* main #menutoday .menu2columnas {
    display: flex;
} */

main #menutoday .menu1, .menu2 {
    width: 100%;
}

.enlace {
    text-decoration: none;
    display: block;
    margin-top: 1em;
    color: var(--color-principal);
}

@media(min-width:62.750em) {
    main #menutoday .menu1 {
        width: 30%;
    }
    main #menutoday .menu2 {
        width: 70%;
    }
    main #menutoday .menu2 div {
        width: 25%;
        display: inline-block;
    }
    main #menutoday .menu2 .texto {
        width: 74%;
        padding-left: 2em;
        vertical-align: top;
    }
    main #menutoday .flex article {
        width: 100%;
        padding: 0 2em 2em 3em;
    }
}

/* fin menu */

/* Fin MAIN */