@import url(reset.css);
/*Este se hace para importar el reset, es mejor hacerlo desde aqui*/

/*hadlee y montserrat se cargan de google fonts como import*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/*Esto importa las fuentes de google*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
/*Aqui se importan los iconos de awesome*/

* {
    /*Aqui hacemos un reset para toda la we*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*Esto es para safari*/
    -moz-box-sizing: border-box;
    /*Este es para mozilla*/
    -o-box-sizing: border-box;
    /*Esto pra opera*/
    -ms-box-sizing: border-box;
    /*Esto para microsoft*/
}

:root {
    /*root se usa para declarar unas variables generales que se van a reutilizar, por ejemplo las fuentes principal y secindaria y los colores principal y secundario. Se declaran poniendo doble guion y un nombre de variable*/
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
}

body {
    font-family: var(--fuentePrincipal);
    /*Aqui estamos usando la variable fuente principal*/
    font-size: 1em;
    /*Tamaño de fuente para todo el body*/
}

img {
    /*Delaramos las estilos generales de las imagenes*/
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchoMaximo);
    margin: 0 auto;
    /*Esto centra el contenedor*/
}

.flex {
    display: flex;
}

/* Inicio HEADER */

header .nav_top {
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

header .nav_top a {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

header .nav_top a span {
    display: none;
    /*Con esto puedo aplicar a la etiqueta span una ocultacion cuando me interesa*/
}

header .nav_top .flex {
    justify-content: space-between;
    /*Esta regal me reparte el espacio entre los iconos*/
}

header .nav_top i {
    color: var(--color-principal);
}

header nav {
    padding: 20px;
}

header .logo {
    max-width: 110px;
}

header .hamburguesa {
    /*Esto se separa en dos .hamburguesa y .hamburguesa div,  para que salga como un boton, y no solo al pasar por cada una de las lineas*/
    width: 50px;
    cursor: pointer;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin: 10px;
}

header nav .flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    width: 100%;
}

header nav ul li a {
    display: block;
    /*Con esto consigo que toda la zona sea clicable*/
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    transition: 0.5s;
}

header nav ul li .activo {
    color: var(--color-principal);
}

header nav ul li a:hover {
    color: var(--color-principal);
}

/* Fin HEADER */

/* Inicio FOOTER */

footer {
    background-color: var(--color-secundario);
    padding: 1.250em 0.625em;
    text-align: center;
}

footer p, footer a {
    /*Estoy aplicando una regla a dos elementos*/
    color: white;
}

footer a:hover {
    /*Dentro del footer hay un a que cuando haga hover su text decoration sea none*/
    text-decoration: none;
}

/* Fin FOOTER */

@media(min-width:48.000em) {
    header .nav_top a span {
        display: inline;
    }
    footer {
        text-align: left;
    }
}

@media(min-width:62.750em) {
    header .hamburguesa {
        /*visibility: hidden; oculta pero ocupa espacio*/
        display: none;
        /*display: none; oculta y no ocupa espacio*/
    }
    header nav ul {
        width: auto;
        display: flex;
    }
    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* Inicio HERO */

.hero {
    background-image: url("../images/fondo.jpg");
    /* ../ para subir carpeta */
    height: 75vh;
    background-repeat: no-repeat;
    /* para que no repita la imagen */
    background-size: cover;
    /* para que la imagen cubra el 100% del espacio */
    background-position: center center;
    /*para centrar toda la imagen vertical y horizontal*/
    background-color: #888;
    /*creamos una capa de color gris para luego suionar, pero la imagen siempre va por encima*/
    background-blend-mode: multiply;
    /*para seleccionar modos de fusion de imagen*/
    display: flex;
    /*este me alineaa en la horizontak*/
    align-items: center;
    /*esto centra al centro centro*/
}

.hero .container {
    width: 80%;
    /*al añadir este with al 100% coloca el text en la izquierda porque el tecxto se alinea a la izquierda por defecto dentro de un contenedor*/
}

.hero h1 {
    font-family: var(--fuenteSecundaria);
    font-size: 2.5em;
    color: white;
}

.hero h2 {
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p {
    color: white;
    font-size: 1.15em;
}

.boton {
    display: inline-block;
    /*lo ponemos para que el boton tenga voluminosoidad, con esto se comporta como bloque pero sigue siendo linea, y al reves.*/
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.boton i {
    transition: transform 0.5s;
}

.boton:hover {
    background-color: transparent;
    color: var(--color-principal);
}

.boton:hover i {
    transform: translateX(5px);
    transition: 0.5s;
}

.hero .social li {
    display: inline-block;
    font-size: 2em;
}

.hero .social a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

/* Fin HERO */

/*  Inicio MAIN */

main {
    margin-bottom: 70px;
    margin-top: 40px;
}

/* Fin MAIN */